<%- include("partials/head") %> 
  <body>
    <%- include("partials/navbar") %> 
    <h2> <%= user %> added to the Directory</h2>
    <a role="button" href="/user" class="btn btn-primary">All Contacts</a> 
  </body>
</html>